///
/// Backend styles
///

@import 'modules/_root';
@import 'partials/_profile';
@import 'partials/_profile-one';
@import 'partials/_profile-two';
@import 'partials/_profile-three';
@import 'partials/_profile-four';

///
/// Screen reader text
///
/// Use when text needs to be hidden for
/// display purposes but needs to be in
/// the DOM for visually impaired/blind
/// people and for search engines.
///
/// No variables because this class does
/// not need to/ought not change.
.screen-reader-text {
	border: 0;
	clip: rect( 1px, 1px, 1px, 1px );
	-webkit-clip-path: inset(50%);
	        clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

.tab-section-heading {
	margin: 0;
}

.avatar {
	border-radius: 50%;
}

.accordion-container {
	margin-top: 1rem;
}

.accordion-section {

	&:not( :first-of-type ) {
		border-top: solid 1px rgba( $color: black, $alpha: 0.3 );

		@media ( prefers-color-scheme: dark ) {
			border-color: rgba( $color: white, $alpha: 0.3 );
		}
	}

	.accordion-section-title {
		cursor: pointer;
		user-select: none !important;
		margin: 0;
		padding: 1rem 0;
	}

	h3.accordion-section-title {
		font-size: 1.125rem;
	}

	.accordion-title-icon {
		transform: rotate( 0deg );

		// Same speed as accordion slide in the JavaScript.
		transition: transform 250ms;
	}

	&:not( .open ) {
		.accordion-section-content {
			display: none;
		}
	}

	&:hover {
		.accordion-title-icon {
			opacity: 1;
		}
	}

	&.open {
		.accordion-title-icon {
			opacity: 1;
			transform: rotate( -180deg );
		}
	}

	.upro-form-details-section {
		display: flex;
		gap: 0 1rem;
		width: 100%;
		padding: 1rem 0;

		p {
			margin: 0;
		}
	}

	.upro-form-details-avatar {
		display: block;
		width: 100%;
		max-width: 80px;
		height: auto;
	}
}

.default-avatar-preview {
	margin-top: 1rem;

	img {
		border: solid 1px rgba( $color: black, $alpha: 0.3 );

		@media ( prefers-color-scheme: dark ) {
			border-color: rgba( $color: white, $alpha: 0.3 );
		}
	}
}

///
/// Image uploads
///
/// Includes Dropzone and album styles.
///
.upload-album-empty {
	width: 100%;
	min-height: 160px;
	margin: 1rem 0 0 0;
	border: var( --cfe-form-element--border );
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	@media ( prefers-color-scheme: dark ) {
		border: var( --cfe-form-element--border--dark );
	}

	p {
		font-weight: 700;
	}
}

.refresh-after-upload {
	margin: 1rem 0 0 0;
}

.tab-pane {
	&.tab-pane-image-upload {
		p {
			&:first-of-type {
				margin: 0;
			}
		}

		.dropzone {
			margin: 1rem 0 0 0;
		}
	}

	.image-select-list {
		list-style: none;
		width: 100%;
		margin: 1rem 0 0 0;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		gap: 0.5rem;

		li {
			display: block;
			position: relative;
			width: 80px;
			height: 80px;
			border: var( --cfe-form-element--border );

			@media ( prefers-color-scheme: dark ) {
				border: var( --cfe-form-element--border--dark );
			}
;
			label {
				margin: 0 !important;
				cursor: pointer;

				&:before,
				&:after {
					content: '';
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					pointer-events: none;
				}

				&.selected {
					&:before {
						background-color: rgba( $color: black, $alpha: 0.325 );
					}

					&:after {
						background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 512 512'%3e%3cpath fill='%23ffffff' fill-opacity='0.8' d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z'/%3e%3c/svg%3e");
						background-position: center center;
						background-repeat: no-repeat;
						background-size: 32px
					}
				}
			}

			input {
				appearance: none !important;
				display: block;
				opacity: 0;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				cursor: pointer;
			}

			img {
				display: block;
				width: 100%;
				max-width: 100%;
				height: auto;
			}
		}
	}

	.image-upload-list {
		list-style: none;
		margin: 1rem 0 0 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		gap: 1.5rem;

		li {
			&:not( :first-of-type ) {
				padding: 1.5rem 0 0 0;
				border-top: var( --cfe-box--border );
			}
		}

		img {
			border: var( --cfe-form-element--border );

			@media ( prefers-color-scheme: dark ) {
				border: var( --cfe-form-element--border--dark );
			}
		}
	}
}

.dz-image {

	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		pointer-events: none;
		background-color: rgba( $color: black, $alpha: 0.325 );
	}

	img {
		border: var( --cfe-form-element--border );

		@media ( prefers-color-scheme: dark ) {
			border: var( --cfe-form-element--border--dark );
		}
	}
}

.upload-form-album {
	width: 100%;
	display: flex;
	gap: 1rem;
	order: 2;

	&.current {
		order: 1;
	}
}

.image-album-preview {
	display: flex;
	gap: 0.5rem;
}

.image-album-buttons {
	margin: 0.5rem 0 0 0;
}

.image-in-album {
	display: block;

	img {
		display: block;
	}
}

.image-album-name {
	margin: 0;
	font-size: 1rem;
	font-weight: 600;
}

.dropzone {
	justify-content: center;
	flex-wrap: wrap;
	gap: 0.5rem;

	.dz-preview {
		margin: 0;

		.dz-progress {
			opacity: 1;
			z-index: 1000;
			pointer-events: none;
			position: absolute;
			height: 0.5rem;
			left: 0.25rem;
			right: 0.25rem;
			top: calc( 50% - 0.25rem );
			width: calc( 100% - 0.5rem );
			border-radius: 0.25rem;
			margin: 0;
			background-color: transparent;
			overflow: hidden;

			.dz-upload {
				background: rgba( $color: white, $alpha: 0.8 );
			}
		}
	}
}

#header-preview-list {
	list-style: none;
	margin: 2rem 0 0 0;
	padding: 0;

	li {
		max-width: 320px;
	}
}
