///
/// Profile page style #1
///

.profile-style-one {
	margin: var( --upro-profile-1--margin, var( --upro-profile--margin ) );
	padding: var( --upro-profile-1--padding, var( --upro-profile--padding ) );

	.profile-page-header {

		.profile-header-inner {
			flex-direction: var( --upro-profile-1--header-inner--flex-direction, row-reverse );
		}

		.profile-cover {
			&.in-form-preview {
				height: 200px;

				img {
					max-height: 200px;
				}
			}
		}

		.profile-intro {
			flex-direction: var( --upro-profile-1--intro--flex-direction, var( --upro-profile--intro--flex-direction ) );
			justify-content: var( --upro-profile-1--intro--justify-content, var( --upro-profile--intro--justify-content ) );
		}

		.profile-avatar {
			transform: var( --upro-profile-1--avatar--transform, var( --upro-profile--avatar--transform ) );

			&.in-form-preview {
				transform: translateY( 50% );
			}
		}
	}

	@media screen and ( max-width: 640px ) {
		margin: var( --upro-profile-3--margin, var( --upro-profile--margin ) );
		padding: var( --upro-profile-3--padding, var( --upro-profile--padding ) );

		.profile-page-header {
			margin: var( --upro-profile-3--header--margin, 1rem 0 2rem 0 );

			.profile-header-inner {
				flex-direction: var( --upro-profile-3--header-inner--flex-direction, column-reverse );
				justify-content: var( --upro-profile-3--header-inner--justify-content, space-between );
				align-items: var( --upro-profile-3--header-inner--align-items, center );
				gap: 0;
			}

			.profile-cover {
				height: 100%;
				height: 400px;

				img {
					max-height:400px;
				}
			}

			.profile-intro {
				flex-direction: var( --upro-profile-3--intro--flex-direction, var( --upro-profile--intro--flex-direction ) );
				text-align: var( --upro-profile-3--intro--text-align, center );
			}

			.profile-avatar {
				position: absolute;
				top: -2rem;
				max-width: var( --upro-profile-3--avatar--width, 160px );
				transform: var( --upro-profile-3--avatar--transform, none );
			}
		}
	}
}
