///
/// Profile page style #4
///

.profile-style-four {
	margin: var( --upro-profile-4--margin, var( --upro-profile--margin ) );
	padding: var( --upro-profile-4--padding, var( --upro-profile--padding ) );

	.profile-page-header {
		margin: var( --upro-profile-4--header--margin, 1rem 0 3rem 0 );

		.profile-header-inner {
			flex-direction: var( --upro-profile-4--header-inner--flex-direction, column );
			justify-content: var( --upro-profile-4--header-inner--justify-content, space-between );
			align-items: var( --upro-profile-4--header-inner--align-items, center );
			gap: 0;
		}

		.profile-cover {
			height: 100%;
			height: 320px;

			img {
				max-height:320px;
			}

			&.in-form-preview {
				height: 240px;

				img {
					max-height: 240px;
				}
			}
		}

		.profile-intro {
			flex-direction: var( --upro-profile-4--intro--flex-direction, var( --upro-profile--intro--flex-direction ) );
			text-align: var( --upro-profile-4--intro--text-align, center );
		}

		.profile-avatar {
			position: absolute;
			bottom: -2rem;
			max-width: var( --upro-profile-4--avatar--width, 160px );
			transform: var( --upro-profile-4--avatar--transform, none );
		}
	}

	@media screen and ( max-width: 640px ) {
		.profile-cover {
			height: 400px;

			img {
				max-height:400px;
			}
		}
	}
}
